{{#highlights}}
    <div class="card highlightCard">
        <div class="card-header">

            <span class="circle circle-sm {{favorite_bg}} changeFavoriteStatus" data-id="{{id}}" data-toggle="tooltip" data-placement="top" title="{{favorite_tooltip_text}}"><i class="fe fe-8 fe-heart text-white mb-0"></i></span>

            {{#version_count}}
                <a role="button" href="#" data-id="{{id}}" class="badge badge-warning float-right btnHighlightVersions"
                   data-toggle="modal" data-target="#highlightVersionsModal"><span class="fe fe-activity fe-8"></span> {{version_count}}</a>
            {{/version_count}}

            {{#parent_highlight}}
                <a role="button" href="/highlights/{{highlight_id}}/details"
                   class="badge badge-info float-right highlightToolTip" data-id="{{highlight_id}}">Parent</a>
            {{/parent_highlight}}

            <a role="button" href="/highlights/{{id}}/details" class="badge badge-primary float-right"><span
                    class="fe fe-edit fe-8"></span></a>

                <strong>#{{id}} {{#blog_path}}{{blog_path}}{{/blog_path}}</strong>

            {{#is_secret}}<i class="fe fe-lock fe-12" data-toggle="tooltip" data-placement="top" title="Secret Highlight"></i>{{/is_secret}}

        </div>

        <div class="card-body {{expandableClass}}">

            {{{highlight}}}

            <footer class="blockquote-footer">

                {{#activeLinkSource}}
                    <a href="?{{queryField}}={{ultimate_source}}">{{ultimate_source}} ~ {{ultimate_timestamp}}</a>
                {{/activeLinkSource}}

                {{^activeLinkSource}}
                    {{ultimate_source}} ~ {{ultimate_timestamp}}
                {{/activeLinkSource}}

                {{#referenced_book}}
                    <br><br>
                    <i class="fe fe-book fe-16"></i>
                    <span class="item-text">{{referenced_book}}</span>
                {{/referenced_book}}

            </footer>
        </div>


        <div class="card-footer small">
            {{#expandable}}
                <a href="javascript:void(0)" class="btn btn-link p-0 toggleCard">Show more</a>
                <br>
            {{/expandable}}
            {{#tags}}
                <strong>{{{imploded_link_blank}}}</strong>
            {{/tags}}
        </div>

    </div>
    <br class="highlightCardBR">
{{/highlights}}