<!doctype html>
<html lang="en">

<head>
    {{> head }}
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/markdown.css">
</head>

<body class="vertical dark">
{{> include}}
<nav class="topnav navbar navbar-light">
    {{> navbar }}
</nav>
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add New Highlight</h5>
                                <textarea id="highlight" hidden></textarea>

                                <br>

                                <div class="input-group input-group-lg">
                                    <select id="tags" name="tags[]" class="form-control select2-multi" multiple="multiple">
                                        <option disabled selected></option>
                                        {{#globalTagsWithSelection}}
                                            <option value="{{id}}" {{selected}}>{{tag}}</option>
                                        {{/globalTagsWithSelection}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{> highlight-cards }}

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> menu }}
{{> highlight-versions }}

<script src="/js/editor.js"></script>

<script>
    $(document).ready(function () {

        var editor = new Editor({
            element: document.getElementById("highlight"),
            autofocus: true,
            uploadEndpoint: "/images"
        });

        $(document).on('keydown', function (e) {
            if (e.metaKey && e.keyCode === 13) {
                var highlight = editor.value();
                var tags = $('#tags').val();
                var data = "highlight=" + encodeURIComponent(highlight) + "&tags=" + encodeURIComponent(tags);
                var result = ajaxCall('POST', "/bookmarks/{{bookmarkUID}}/highlights", data)

                if (result !== false) {
                    location.reload();
                }
            }
        });

        $('.enterButtonKeyPress').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                var highlight = editor.value();
                var tags = $('#tags').val();
                var data = "highlight=" + encodeURIComponent(highlight) + "&tags=" + encodeURIComponent(tags);
                var result = ajaxCall('POST', "/bookmarks/{{bookmarkUID}}/highlights", data)

                if (result !== false) {
                    editor.markSaved()
                    location.reload();
                }
            }
        });

        $('#tags').select2({
            placeholder: "Choose tags",
            multiple: true,
            theme: 'bootstrap4',
            allowClear: true,
            tags: true,              // allow adding new tags
            tokenSeparators: [','],  // split new tags by comma
        });

    });
</script>
</body>

</html>