<!doctype html>
<html lang="en">

<head>
    {{> head }}
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/version-diff.css">
    <link rel="stylesheet" href="/css/highlightjs/default.min.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <style>
        img {
            display: block;
            margin-right: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>

<body class="vertical dark">
<nav class="topnav navbar navbar-light">
    {{> navbar }}
</nav>
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Today - {{today}} <span id="spanNotSavedCaution"
                                                                               class="text text-danger text-hide">Not Saved</span>
                                </h5>
                                <textarea id="logTextArea" hidden>{{todaysLog}}</textarea>

                                <br>

                                <div class="form-group">
                                    <button id="saveLog" type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    {{#logs}}
                        <div class="card mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">
                                        {{#versionCount}}
                                            <a href="#" class="btnLogVersions" data-log-hid="{{log_hid}}" data-toggle="modal"
                                               data-target="#logVersionsModal"># {{date}} ({{versionCount}})</a>{{/versionCount}}
                                        {{^versionCount}}# {{date}}{{/versionCount}}
                                    </h5>
                                </div>
                                <div class="card-body">

                                    {{{log}}}

                                    {{{additionalData}}}

                                </div>
                            </div>
                        </div>
                    {{/logs}}

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

{{> include}}
{{> menu }}
{{> log-versions }}
<script src="/js/editor.js"></script>
<script src="/js/highlight.min.js"></script>

<script>
    $(document).ready(function () {

        var editor = new Editor({
            element: document.getElementById("logTextArea"),
            autofocus: true,
            uploadEndpoint: "/images"
        });

        hljs.highlightAll();

        $(document).keydown(function (event) {
            if ((event.metaKey || event.ctrlKey) && event.which === 83) {
                saveLog();
            }
        });

        $("#saveLog").on('click', function (e) {
            saveLog()
        });

        var saveLog = function () {
            var currentLog = editor.value();

            if (!currentLog) {
                $.bootstrapPurr('Log cannot be null', {
                    type: 'danger'
                });
                return;
            }

            if (!editor.isDirty()) {
                $.bootstrapPurr("You haven't made any changes", {
                    type: 'warning'
                });
                return;
            }

            ajaxCall('POST', "/logs", "log=" + encodeURIComponent(currentLog))
            editor.markSaved()
        }

    });
</script>
</body>

</html>