<div class="modal fade" id="task-body-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="task-title">Untitled</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <textarea id="task-body" hidden></textarea>

                <br>

                <div class="form-row">
                    <div class="form-group col-12">
                        <select id="tags" name="tags[]" class="form-control select2-multi" hidden>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/editor.js"></script>
<script src="/js/mustache.min.js"></script>

<script>
    $(document).ready(function () {

        var unsavedChanges = false;
        var editor = null;
        var taskUID = null;
        let shortcutHandler = null;

        $('#task-body-modal').on('shown.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            taskUID = button.data('uid');

            var result = ajaxCall('GET', '/api/v1/boards/{{boardUID}}/tasks/' + taskUID, null, false, false)

            if (result !== false) {
                init(result.data);
            }
        });

        $('#task-body-modal').on('hidden.bs.modal', function () {
            $('#tags').select2('destroy');

            if (unsavedChanges) {
                if (confirm("You have unsaved changes. Do you want to save them?")) {
                    updateTaskBody();
                    unsavedChanges = false
                }
            }

            if (shortcutHandler) {
                console.log('Removing shortcut handler');
                $(document).off('keydown', shortcutHandler);
                shortcutHandler = null;
            }

            taskUID = null
            unsavedChanges = false
            editor.destroy();
        });

        var init = function (data) {

            $("#task-title").text(data.task.title);

            shortcutHandler = function (e) {
                if (e.metaKey && e.keyCode === 13) {
                    //updateTaskBody();
                    console.log('trigged cmd+enter');
                }
            };

            $(document).on('keydown', shortcutHandler);

            const select2Data = Object.values(data.globalTags).map(item => ({
                id: item.id,
                text: item.tag,
                selected: item.selected === "selected"
            }));

            $('#tags').select2({
                placeholder: "Choose tags",
                multiple: true,
                theme: 'bootstrap4',
                allowClear: true,
                tags: true,              // allow adding new tags
                tokenSeparators: [','],  // split new tags by comma
                data: select2Data
            });

            $("#save").on('click', function (e) {
                updateTaskBody();
            });

            editor = new Editor({
                element: document.getElementById("task-body"),
                autofocus: true,
                uploadEndpoint: "/images",
                imageLibraryEndpoint: "/images/list",
                initialValue: data.task.body ? data.task.body.highlight : "",
            });
        }

        var updateTaskBody = function () {

            var body = editor.value();
            var tags = $('#tags').val() || "";

            var data = {
                body: body,
                tags: tags
            };
            var result = ajaxCall('PATCH', "/api/v1/boards/{{boardUID}}/tasks/" + taskUID + '/body', data);
            editor.markSaved()
        }

    });
</script>